@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", Arial, sans-serif;
}
.login label {
  display: block;
  font-size: 14px;
  color: #48505e;
  font-weight: 500;
  margin: 0.5rem 0;
}
a:hover {
  cursor: pointer;
}
.login input {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 0.4rem 2rem 0.4rem 1rem;
  width: 100%;
}
.header input {
  border: 1px solid #d0d5dd;
  border-radius: 3px;
  padding: 0.4rem 2rem 0.4rem 3rem;
  width: 20rem;
}

.login input:focus {
  outline: none;
  border: 1px solid #1f70f3;
  box-shadow: 0 0 5px rgba(119, 168, 248, 0.5);
}

.btn {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 100%;
}
.signup {
  font-weight: 600;
  padding-left: 0.5rem;
}

button:hover {
  cursor: pointer;
}
.layout {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-template-rows: 5rem 1fr;
  column-gap: 5px;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-row: 1 / 3; /* Starts at row 1, ends at row 3 (spans 2 rows) */
  background: #ffffff;
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  padding: 0 0.5rem;
}

.header {
  grid-column: 2 / 3; /* Take only the second column */
}

.content {
  background-color: rgb(247, 245, 245);
  display: grid;
  grid-template-columns: 40rem 1fr;
  /* column-gap: 2rem; */
  justify-content: space-between;
  gap: 3rem;
}
.card {
  grid-column: 1/3;
}
.summary {
  grid-column: 2/3;
}

body {
  background-color: rgb(247, 245, 245);
}
thead {
  border-top: solid 1px #f0f1f3;
  border-bottom: solid 1px #f0f1f3;
}

table th,
td {
  text-align: left;
  font-size: 14px;
  /* font-weight: medium; */
  color: #5d6679;
  padding: 1rem;
}

th {
  font-weight: 500;
}

.best-selling-category th,
.best-selling-category td,
.best-selling-product th,
.best-selling-product td {
  padding: 0.8rem 1rem;
}

.availability {
  font-weight: 600;
}

.header1 {
  color: #383e49;
}

/* .app {
  filter: blur(10px);
  z-index: 50;
} */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.report {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.overview {
  grid-column: 1/2;
  grid-row: 1/2;
}

.best-selling-category {
  grid-column: 2/3;
  grid-row: 1/2;
}

.profit-revenue-chart {
  grid-column: 1/3;
  grid-row: 2/3;
}

.best-selling-product {
  grid-column: 1/3;
  grid-row: 4/5;
  margin-top: 1rem;
}
