@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 14px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
